<div class="products-container">
  <div class="products-header">
    <h2 class="products-title">Products ({{ totalProducts }})</h2>
    <button (click)="goToNewProductComponent()" class="button button-secondary">
      <i class="fa-solid fa-plus"></i>
      <span>Add New</span>
    </button>
  </div>
  <input type="text" (keyup)="FilterChanged($event)" placeholder="Search products by name" class="form-control products-search-input" />
  <div class="table-responsive products-table-container">
    <table mat-table [dataSource]="dataSource" matSort class="products-table">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column }}
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngSwitch]="column">
            <ng-container *ngSwitchCase="'ID'">
              {{ element.productId }}
            </ng-container>
            <ng-container *ngSwitchCase="'Image'">
              <div class="products-table-image-container">
                <img [src]="'data:image/jpeg;base64,' + element.image" [alt]="element.name" class="products-table-image" />
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'Name'">
              <span class="products-table-name" [routerLink]="['/product-details', element.productId]">{{ element.name + " => "+element.countOfComments}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'Price'">
              <p class="products-table-price">{{ formatPrice(element.price) }}</p>
            </ng-container>
            <ng-container *ngSwitchCase="'Old price'">
              <p class="products-table-price">{{ formatPrice(element.oldPrice) }}</p>
            </ng-container>
            <ng-container *ngSwitchCase="'Quantity'">
              <p class="products-table-quantity">{{ element.quantity }}</p>
            </ng-container>
            <ng-container *ngSwitchCase="'Discount'">
              <p class="products-table-discount">{{ element.discountPercent + '%' }}</p>
            </ng-container>
            <ng-container *ngSwitchCase="'Category'">
              {{ element.categoryName }}
            </ng-container>
            <ng-container *ngSwitchCase="'Created at'">
              {{ formatReadableDate(element.createdAt) }}
            </ng-container>
            <ng-container *ngSwitchCase="'Updated at'">
              {{ formatReadableDate(element.updatedAt) }}
            </ng-container>
            <ng-container *ngSwitchCase="'Edit'">
              <i class="fas fa-edit" (click)="editProduct(element.productId)"></i>
            </ng-container>
            <ng-container *ngSwitchCase="'Delete'">
              <i class="fas fa-trash-alt" (click)="deleteProduct(element.productId)"></i>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToProduct(row._id)" class="products-table-row"></tr>
    </table>
  </div>
  <nav aria-label="Page navigation" class="products-pagination">
    <ul class="pagination justify-content-between">
      <li class="page-item" [class.disabled]="currentPage === 0">
        <button class="page-link" (click)="previousPage()">Previous</button>
      </li>
      <li class="page-item">
        <span class="page-link current-page-label">{{ currentPage + 1 }}/{{ totalPages }}</span>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
        <button class="page-link" (click)="nextPage()">Next</button>
      </li>
    </ul>
  </nav>
</div>
