<div class="products-container">
  <div class="products-header">
    <h2 class="products-title">Products ({{ totalProducts }})</h2>
    <button (click)="goToNewProductComponent()" class="button button-secondary">
      <i class="fa-solid fa-plus"></i>
      <span>Add New</span>
    </button>
  </div>
  <input type="text" (keyup)="FilterChanged($event)" placeholder="Search products by name" class="form-control products-search-input" />
  <div class="table-responsive products-table-container">
    <table class="products-table">
      <thead>
      <tr>
        <th *ngFor="let column of displayedColumns">{{ column }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let element of dataSource.data" (click)="navigateToProduct(element._id)" class="products-table-row">
        <ng-container *ngIf="dataSource.data.length > 0; else noProducts">
          <td *ngFor="let column of displayedColumns">
            <ng-container *ngIf="column === 'Image'">
              <div class="products-table-image-container">
                <img [src]="'data:image/jpeg;base64,'+element.image" [alt]="element.name" class="products-table-image" />
              </div>
            </ng-container>
            <ng-container *ngIf="column === 'ID';">
              {{element.productId}}
            </ng-container>
            <ng-container *ngIf="column === 'Name'">
              <span class="products-table-name" [routerLink]="['/product-details',element.productId]">{{ element.name }}</span>
            </ng-container>
            <ng-container *ngIf="column === 'Quantity'">
              <p class="products-table-quantity">{{ 100 }}</p>
            </ng-container>
            <ng-container *ngIf="column === 'Price'">
              <p class="products-table-price">{{ formatPrice(element.price) }}</p>
            </ng-container>
            <ng-container *ngIf="column === 'Old price';">
              <p class="products-table-price">{{ formatPrice(element.oldPrice) }}</p>
            </ng-container>
            <ng-container *ngIf="column === 'Discount'">
              <p class="products-table-discount">{{ (element.discountPercent) + '%' }}</p>
            </ng-container>
            <ng-container *ngIf="column === 'Category'">{{ element.categoryName }}</ng-container>
            <ng-container *ngIf="column === 'Created at'">
              {{ formatReadableDate(element.createdAt) }}
            </ng-container>
            <ng-container *ngIf="column === 'Updated at'">
              {{ formatReadableDate(element.updatedAt) }}
            </ng-container>
            <ng-container *ngIf="column === 'Edit'">
                <i class="fas fa-edit" (click)="editProduct(element.productId)"></i>
            </ng-container>
            <ng-container *ngIf="column === 'Delete'">
                <i class="fas fa-trash-alt" (click)="deleteProduct(element.productId)"></i>
            </ng-container>
          </td>
        </ng-container>
      </tr>
      <ng-template #noProducts>
        <tr>
          <td [attr.colspan]="displayedColumns.length" class="no-products">
            No products found.
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation" class="products-pagination">
    <ul class="pagination justify-content-between">
      <li class="page-item" [class.disabled]="currentPage === 0">
        <button class="page-link" (click)="previousPage()">Previous</button>
      </li>
      <li class="page-item">
        <span class="page-link current-page-label">{{ currentPage+1 }}/{{ totalPages }}</span>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages-1">
        <button class="page-link" (click)="nextPage()">Next</button>
      </li>
    </ul>
  </nav>
</div>
