<div class="component-container">
  <!-- Card Container -->
<div class="card-container">
  <div class="form-content">
    <ng-container *ngIf="isSignUp">
      <!-- Sign-Up Form -->
      <form class="form sign-up-form" action="" (ngSubmit)="register()">
        <h2>Create Account</h2>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>

        <div class="input-row">
          <input type="text" placeholder="First Name" id="firstNameRegister" name="firstNameRegister" [(ngModel)]="firstNameRegister" />
          <input type="text" placeholder="Last Name" id="lastNameRegister" name="lastNameRegister" [(ngModel)]="lastNameRegister" />
        </div>
        <div class="input-row">
          <input type="text" placeholder="City" id="cityRegister" name="cityRegister" [(ngModel)]="cityRegister" />
          <input type="tel" placeholder="Phone" id="phoneRegister" name="phoneRegister" [(ngModel)]="phoneRegister" />
        </div>
        <div class="input-row">
          <input type="email" placeholder="Email" id="emailRegister" name="emailRegister" [(ngModel)]="emailRegister" />
          <input type="text" placeholder="Username" id="usernameRegister" name="usernameRegister" [(ngModel)]="usernameRegister" />
        </div>
        <div class="input-row">
          <input type="password" placeholder="Password" id="passwordRegister" name="passwordRegister" [(ngModel)]="passwordRegister" />
          <input type="password" placeholder="Confirm Password" id="passwordConfirmRegister" name="passwordConfirmRegister" [(ngModel)]="passwordConfirmRegister" />
        </div>

        <button type="submit">Sign Up</button>
      </form>
    </ng-container>

    <ng-container *ngIf="!isSignUp">
      <!-- Sign-In Form -->
      <form class="form sign-in-form" [formGroup]="loginForm" (ngSubmit)="logIn()">
        <h2>Sign In</h2>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>
        <input type="text" placeholder="Email/Username" formControlName="login"  />
        <input type="password" placeholder="Password" formControlName="password"  />
        <a (click)="forgetPassword()" id="forgetpassword">Forgot your password?</a>
        <button type="submit">Sign In</button>
      </form>
    </ng-container>
  </div>

  <a class="switch-button" [routerLink]="['/sign', isSignUp ? 'in' : 'up']">
    {{ isSignUp ? 'Sign In' : 'Sign Up' }}
  </a>
</div>
</div>