.component-container {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}


.card-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
}

.form h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  border: 1px solid #aed581;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: #689f38;
  transition: color 0.3s;
}

.social:hover {
  color: #333;
}


.form span {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1rem;

}

.input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: space-between;

}

.form input {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #aed581;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
  flex: 1;
}


.form input:focus {
  border-color: #4caf50;
  outline: none;
}

.form a,.switch-button{
  text-decoration: none;
  margin-top: 5px;
  font-size: 0.9rem;
  color: blue;
}

.form a:hover ,.switch-button:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #689f38;
}


.form button {
  background-color: #4caf50;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  align-self: center;
  margin-top: 1rem;
  width: auto;

}

.form button:hover {
  background-color: #388e3c;
}


@media (max-width: 600px) {
  .card-container{
    width: 95%;
  }

  .input-row {
    flex-direction: column;
    gap: 5px;
  }

  .form button {
    padding: 12px 25px;
    font-size: 1.1rem;
  }
}
