<!-- Start Top Nav -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">infocompany.com</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
            </div>
            <div>
                <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
            </div>
        </div>
    </div>
</nav>

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" routerLink="">
            Zayouta
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/shop" routerLinkActive="active" ariaCurrentWhenActive="page">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
                    </li>
                    <div *ngIf="!isLoggedIn">
                        <div class="nav d-flex align-items-center">
                            <li class="nav-item">
                                <a class="nav-link btn custom-signin-btn me-2" routerLink="/signin" routerLinkActive="active" ariaCurrentWhenActive="page">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn custom-signup-btn text-white" routerLink="/signup" >Sign Up</a>
                            </li>
                        </div>          
                    </div>
                    
                        
                </ul>
            </div>
        
            <div class="navbar align-self-center d-flex">
                <a class="nav-icon d-none d-lg-inline mr-3" href="" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark "></i>
                </a>

                <!-- Modal -->
                <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="w-100 pt-1 mb-5 text-right">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="" method="get" class="modal-content modal-body border-0 p-0">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ..." [(ngModel)]="searchCategory">
                                <button type="submit" class="input-group-text bg-success text-light" data-bs-dismiss="modal" (click)="onSearch()">
                                    <i class="fa fa-fw fa-search text-white"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End of Modal -->
                <div *ngIf="isLoggedIn">
                    <a class="nav-icon position-relative text-decoration-none mr-3" routerLink="/cart">
                      <i class="fa fa-fw fa-cart-arrow-down text-dark"></i>
                      <span *ngIf="cartItemsLength > 0" class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">
                        {{ cartItemsLength }}
                      </span>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" (click)="toggleMenu()">
                        <i class="fa fa-fw fa-user text-dark mr-1"></i>
                    </a>
                    <div *ngIf="menuOpen" class="dropdown-menu">                       
                        <a class="dropdown-item" routerLink="/profile">
                            <i class="fa fa-fw fa-sm fa-user-circle text-dark"></i> Account
                        </a>
                        <div class="dropdown-item" (click)="logOut()">
                            <i class="fa fa-fw fa-sm fa-sign-out-alt text-dark"></i> Logout
                        </div>
                    </div>
                    
                    
                </div>

                <div class="dropdown-item" *ngIf="authorities.includes('ROLE_CUSTOMER_SERVICE')">
                    <i class="fa fa-fw fa-sm fa-heart text-dark" routerLink="/customer-service"></i>
                </div>
                
                  
            </div>
        </div>
    </div>
    
</nav>
<!-- Close Header -->
