<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <!-- Categories Sidebar -->
                
            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                <li *ngFor="let category of categories" class="pb-3">
                    <a 
                    (click)="toggleCategory(category.name)" 
                    class="d-flex justify-content-between h3 text-decoration-none" 
                    href="javascript:void(0)">
                    {{ category.name }}
                    <i 
                        [ngClass]="{
                        'fa-chevron-circle-down': expandedCategory !== category.name,
                        'fa-chevron-circle-up': expandedCategory === category.name
                        }" 
                        class="fa fa-fw mt-1">
                    </i>
                    </a>
                    <ul 
                    [ngClass]="{'show': expandedCategory === category.name}"
                    class="list-unstyled">
                    <li *ngFor="let subcategory of category.subcategories">
                        <a class="text-decoration-none" (click)="getProductsByCategory(subcategory,category.name)">{{ subcategory }}</a>
                    </li>
                    </ul>
                </li>
                </ul>
            </div>

        <!-- End Categories Sidebar -->

        <!-- Products Section -->
        <div class="col-lg-9">
            <div class="row">
                
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" (click)="returnToShop()">Shop</a>
                        </li>
                        
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" >{{path}}</a>
                        </li>
                    </ul>
                
                
            </div>

            <div class="row">
                <!-- Loop through product items dynamically -->
                <div *ngFor="let product of products?.content" class="col-md-4 mb-3">
                    <div class="card product-wap rounded-0">
                        <div class="card rounded-0">
                            <img *ngIf="product.image" [src]="'data:image/jpeg;base64,' + product.image" class="card-img rounded-0 img-fluid product-image" alt="{{ product.name }}">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li *ngIf="isLoggedIn"><a class="btn btn-success text-white" data-bs-toggle="modal" data-bs-target="#ratingModal" (click)="setProductIdRating(product.id)"><i class="far fa-heart"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" [routerLink]="['/product-details',product.id]"><i class="far fa-eye"></i></a></li>
                                    <li *ngIf="isLoggedIn">
                                      <a 
                                        class="btn btn-success text-white mt-2" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#quickAddModal" 
                                        (click)="prepareQuickAdd(product)">
                                        <i class="fas fa-cart-plus"></i>
                                      </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <a href="" class="h3 text-decoration-none">{{ product.name }}</a>
                                             
                            <ul class="list-unstyled d-flex mb-1">
                                <li>
                                    <i *ngFor="let star of [].constructor(5); let i = index" 
                                       class="fa fa-star" 
                                       [ngClass]="{'text-warning': i < product.stars, 'text-muted': i >= product.stars}">
                                    </i>
                                </li>
                            </ul>
                            
                            
                            <div class="d-flex justify-content-between">
                                <p class="mb-0">${{ product.newPrice }}</p>
                                <p class="text-danger mb-0" *ngIf="product.oldPrice && product.oldPrice >= product.newPrice">
                                    <small><del>${{ product.oldPrice }}</del></small>
                                </p>
                            </div>
                                                   
                        </div>
                        
                    </div>
                </div>
            </div>



            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  <li class="page-item" [class.disabled]="!hasPreviousPage()">
                    <a class="page-link"  (click)="previousPage()">Previous</a>
                  </li>
                  
                  <li *ngFor="let page of visiblePages" class="page-item" [class.active]="page === currentPage">
                    <a class="page-link"  (click)="goToPage(page)">{{ page + 1 }}</a>
                  </li>
                  
                  <li class="page-item" [class.disabled]="!hasNextPage()">
                    <a class="page-link"  (click)="nextPage()">Next</a>
                  </li>
                </ul>
              </nav>
              
              
        <!-- End Products Section -->

    </div>
</div>




<div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ratingModalLabel">Rate this Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <!-- Rating Section -->
        <div class="d-flex justify-content-center mb-3">
          <i 
            class="fa-star fa-sm text-warning clickable me-2" 
            [class.fas]="rating >= 1" 
            [class.far]="rating < 1"
            (click)="setRating(1)">
          </i>
          <i 
            class="fa-star fa-sm text-warning clickable me-2" 
            [class.fas]="rating >= 2" 
            [class.far]="rating < 2"
            (click)="setRating(2)">
          </i>
          <i 
            class="fa-star fa-sm text-warning clickable me-2" 
            [class.fas]="rating >= 3" 
            [class.far]="rating < 3"
            (click)="setRating(3)">
          </i>
          <i 
            class="fa-star fa-sm text-warning clickable me-2" 
            [class.fas]="rating >= 4" 
            [class.far]="rating < 4"
            (click)="setRating(4)">
          </i>
          <i 
            class="fa-star fa-sm text-warning clickable" 
            [class.fas]="rating >= 5" 
            [class.far]="rating < 5"
            (click)="setRating(5)">
          </i>
        </div>
        <!-- Comment Section -->
        <div>
          <textarea class="form-control" id="commentTextArea" rows="4" placeholder="Write your comment here..." [(ngModel)]="comment"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="giveFeedback()">Submit</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="quickAddModal" tabindex="-1" aria-labelledby="quickAddModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="quickAddModalLabel">Add Product to Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <!-- Product Image with Fixed Size -->
        <img 
          *ngIf="selectedProduct?.image" 
          [src]="'data:image/jpeg;base64,' + selectedProduct.image" 
          class="img-fluid mb-3 rounded" 
          alt="{{ selectedProduct?.name }}" 
          style="width: 150px; height: 150px; object-fit: cover;"
        >

        <!-- Product Name -->
        <p><strong>{{ selectedProduct?.name }}</strong></p>

        <!-- Sizes Selection -->
        <div class="d-flex mb-3">
          <strong class="text-dark mr-3">Sizes:</strong>
          <div *ngFor="let combination of colorSizeQuantityCombinations" class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              class="custom-control-input"
              [id]="'size-' + combination.size"
              name="size"
              [value]="combination.size"
              (change)="selectSize(combination.size)"
            />
            <label
              class="custom-control-label"
              [for]="'size-' + combination.size"
            >
              {{ combination.size }}
            </label>
          </div>
        </div>
        

        <!-- Colors Selection -->
        <div class="d-flex mb-3" *ngIf="selectedSize">
          <strong class="text-dark mr-3">Colors:</strong>
          <div *ngFor="let color of getColorsForSelectedSize() | keyvalue" class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              class="custom-control-input"
              [id]="'color-' + color.key"
              name="color"
              [value]="color.key"
              (change)="selectColor(color.key)"
            />
            <label
              class="custom-control-label"
              [for]="'color-' + color.key"
            >
              {{ color.key }}
            </label>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-success" 
          data-bs-dismiss="modal" 
          [disabled]="!selectedSize || !selectedColor"
          (click)="addToCart()"
        >
          Add to Cart
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>




<!-- End Content -->



