<header class="py-3 bg-white shadow-sm position-relative z-40">
  <div class="container px-5">
    <div class="d-flex justify-content-between align-items-center">
      <div class="position-relative">
        <input class="form-control w-100 w-md-350 w-sm-250 rounded border border-secondary bg-transparent px-3 py-2 text-sm"
               type="text" placeholder="Search...">
        <i class="position-absolute text-muted top-50 end-0 translate-middle-y fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="d-flex align-items-center gap-3">
<!--        <span (click)="togglePosition()" class="h-10 w-10 d-grid place-content-center cursor-pointer bg-black rounded-circle">-->
<!--          <i class="text-white text-xl fa-solid fa-bell"></i>-->
<!--          <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">{{errorMsg.length}}</span>-->
<!--          <div class="errors position-absolute bg-black p-3 rounded-lg w-100 w-md-270" [style.top]="divTop">-->
<!--            <ul class="list-unstyled">-->
<!--              <li class="my-1" *ngFor="let err of errorMsg">-->
<!--                <a class="text-white font-medium d-flex gap-2 align-items-center" [routerLink]="['/products', err.id]">-->
<!--                  <img [src]="err.image" class="h-30 w-30" alt="">-->
<!--                  reaches 0 in stock-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </span>-->
        <span class="h-10 w-10 d-grid place-content-center bg-black rounded-circle">
          <i class="text-white text-xl fa-solid fa-user"></i>
        </span>
      </div>
    </div>
  </div>
</header>
